/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. 2023 */
/* SPDX-License-Identifier: Apache-2.0 */

.root {
  box-sizing: content-box;
  color: var(--text-layer-1-primary);
  width: 100%;
  height: 100%;
}
