/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. 2023 */
/* SPDX-License-Identifier: Apache-2.0 */

[data-dropdownmenu] [data-menu] {
  position: absolute;
  display: grid;
  z-index: var(--z-index-max);
  overflow: hidden;
}
