/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. 2023 */
/* SPDX-License-Identifier: Apache-2.0 */
:root {
  --background-color: transparent;
  --background-hover-color: var(--color-gray-46);
  --border-radius: 4px;
  --border-color: var(--color-gray-54);
  --border-hover-color: var(--color-gray-54);
  --menu-z-index: 999;
  --icon-color: var(--color-gray-18);
  --icon-hover-color: var(--color-gray-4);
  --icon-active-color: var(--color-gray-4);
  --text-color: var(--color-gray-14);
  --text-hover-color: var(--color-gray-4);
  --text-active-color: var(--color-gray-4);
  --transition: all var(--transition-duration) ease-out;
  /* background-color var(--transition-duration) ease-out,
    border-color var(--transition-duration) ease-out,
    color var(--transition-duration) ease-out,
    opacity var(--transition-duration) ease-out,
    rotate var(--transition-duration) ease-out; */
  font-family: var(--font-family);
  font-size: 1px;
  text-rendering: geometricPrecision;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.root {
  flex: 1;
  display: flex;
}

.canvasHidden {
  visibility: hidden;
}

body[class*="hide-appkit"]>[class*="tooltip-portal"] {
  display: none;
}

body[class*="hide-appkit"] iot-app-kit-vis-status-timeline {
  display: none;
}