/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. 2023 */
/* SPDX-License-Identifier: Apache-2.0 */

/* https://github.com/uswds/uswds/blob/develop/LICENSE.md#the-rest-of-this-project-is-in-the-worldwide-public-domain */

:root {
  --uswds-blue-5: #eff6fb;
  --uswds-blue-10: #d9e8f6;
  --uswds-blue-20: #aacdec;
  --uswds-blue-30: #73b3e7;
  --uswds-blue-40: #4f97d1;
  --uswds-blue-50: #2378c3;
  --uswds-blue-60: #2c608a;
  --uswds-blue-70: #274863;
  --uswds-blue-80: #1f303e;
  --uswds-blue-90: #11181d;
  --uswds-blue-vivid-5: #e8f5ff;
  --uswds-blue-vivid-10: #cfe8ff;
  --uswds-blue-vivid-20: #a1d3ff;
  --uswds-blue-vivid-30: #58b4ff;
  --uswds-blue-vivid-40: #2491ff;
  --uswds-blue-vivid-50: #0076d6;
  --uswds-blue-vivid-60: #005ea2;
  --uswds-blue-vivid-70: #0b4778;
  --uswds-blue-vivid-80: #112f4e;
  --uswds-blue-cool-5: #e7f2f5;
  --uswds-blue-cool-10: #dae9ee;
  --uswds-blue-cool-20: #adcfdc;
  --uswds-blue-cool-30: #82b4c9;
  --uswds-blue-cool-40: #6499af;
  --uswds-blue-cool-50: #3a7d95;
  --uswds-blue-cool-60: #2e6276;
  --uswds-blue-cool-70: #224a58;
  --uswds-blue-cool-80: #14333d;
  --uswds-blue-cool-90: #0f191c;
  --uswds-blue-cool-vivid-5: #e1f3f8;
  --uswds-blue-cool-vivid-10: #c3ebfa;
  --uswds-blue-cool-vivid-20: #97d4ea;
  --uswds-blue-cool-vivid-30: #59b9de;
  --uswds-blue-cool-vivid-40: #28a0cb;
  --uswds-blue-cool-vivid-50: #0d7ea2;
  --uswds-blue-cool-vivid-60: #07648d;
  --uswds-blue-cool-vivid-70: #074b69;
  --uswds-blue-cool-vivid-80: #002d3f;
  --uswds-blue-warm-5: #ecf1f7;
  --uswds-blue-warm-10: #e1e7f1;
  --uswds-blue-warm-20: #bbcae4;
  --uswds-blue-warm-30: #98afd2;
  --uswds-blue-warm-40: #7292c7;
  --uswds-blue-warm-50: #4a77b4;
  --uswds-blue-warm-60: #345d96;
  --uswds-blue-warm-70: #2f4668;
  --uswds-blue-warm-80: #252f3e;
  --uswds-blue-warm-90: #13171f;
  --uswds-blue-warm-vivid-5: #edf5ff;
  --uswds-blue-warm-vivid-10: #d4e5ff;
  --uswds-blue-warm-vivid-20: #adcdff;
  --uswds-blue-warm-vivid-30: #81aefc;
  --uswds-blue-warm-vivid-40: #5994f6;
  --uswds-blue-warm-vivid-50: #2672de;
  --uswds-blue-warm-vivid-60: #0050d8;
  --uswds-blue-warm-vivid-70: #1a4480;
  --uswds-blue-warm-vivid-80: #162e51;
  --uswds-cyan-5: #e7f6f8;
  --uswds-cyan-10: #ccecf2;
  --uswds-cyan-20: #99deea;
  --uswds-cyan-30: #5dc0d1;
  --uswds-cyan-40: #449dac;
  --uswds-cyan-50: #168092;
  --uswds-cyan-60: #2a646d;
  --uswds-cyan-70: #2c4a4e;
  --uswds-cyan-80: #203133;
  --uswds-cyan-90: #111819;
  --uswds-cyan-vivid-5: #e5faff;
  --uswds-cyan-vivid-10: #a8f2ff;
  --uswds-cyan-vivid-20: #52daf2;
  --uswds-cyan-vivid-30: #00bde3;
  --uswds-cyan-vivid-40: #009ec1;
  --uswds-cyan-vivid-50: #0081a1;
  --uswds-cyan-vivid-60: #00687d;
  --uswds-cyan-vivid-70: #0e4f5c;
  --uswds-cyan-vivid-80: #093b44;
  --uswds-gold-5: #f5f0e6;
  --uswds-gold-10: #f1e5cd;
  --uswds-gold-20: #dec69a;
  --uswds-gold-30: #c7a97b;
  --uswds-gold-40: #ad8b65;
  --uswds-gold-50: #8e704f;
  --uswds-gold-60: #6b5947;
  --uswds-gold-70: #4d4438;
  --uswds-gold-80: #322d26;
  --uswds-gold-90: #191714;
  --uswds-gold-vivid-5: #fef0c8;
  --uswds-gold-vivid-10: #ffe396;
  --uswds-gold-vivid-20: #ffbe2e;
  --uswds-gold-vivid-30: #e5a000;
  --uswds-gold-vivid-40: #c2850c;
  --uswds-gold-vivid-50: #936f38;
  --uswds-gold-vivid-60: #7a591a;
  --uswds-gold-vivid-70: #5c410a;
  --uswds-gold-vivid-80: #3b2b15;
  --uswds-gray-0: white;
  --uswds-gray-0-rgb: 255, 255, 255;
  --uswds-gray-1: #fcfcfc;
  --uswds-gray-2: #f9f9f9;
  --uswds-gray-3: #f6f6f6;
  --uswds-gray-4: #f3f3f3;
  --uswds-gray-5: #f0f0f0;
  --uswds-gray-10: #e6e6e6;
  --uswds-gray-20: #c9c9c9;
  --uswds-gray-30: #adadad;
  --uswds-gray-40: #919191;
  --uswds-gray-50: #757575;
  --uswds-gray-60: #5c5c5c;
  --uswds-gray-70: #454545;
  --uswds-gray-70-rgb: 69, 69, 69;
  --uswds-gray-80: #2e2e2e;
  --uswds-gray-80-rgb: 46, 46, 46;
  --uswds-gray-90: #1b1b1b;
  --uswds-gray-90-rgb: 27, 27, 27;
  --uswds-gray-100: #000000;
  --uswds-gray-100-rgb: 0, 0, 0;
  --uswds-gray-cool-1: #fbfcfd;
  --uswds-gray-cool-2: #f7f9fa;
  --uswds-gray-cool-3: #f5f6f7;
  --uswds-gray-cool-4: #f1f3f6;
  --uswds-gray-cool-5: #edeff0;
  --uswds-gray-cool-10: #dfe1e2;
  --uswds-gray-cool-20: #c6cace;
  --uswds-gray-cool-30: #a9aeb1;
  --uswds-gray-cool-40: #8d9297;
  --uswds-gray-cool-50: #71767a;
  --uswds-gray-cool-60: #565c65;
  --uswds-gray-cool-70: #3d4551;
  --uswds-gray-cool-80: #2d2e2f;
  --uswds-gray-cool-90: #1c1d1f;
  --uswds-gray-warm-1: #fcfcfb;
  --uswds-gray-warm-2: #f9f9f7;
  --uswds-gray-warm-3: #f6f6f2;
  --uswds-gray-warm-4: #f5f5f0;
  --uswds-gray-warm-5: #f0f0ec;
  --uswds-gray-warm-10: #e6e6e2;
  --uswds-gray-warm-20: #cac9c0;
  --uswds-gray-warm-30: #afaea2;
  --uswds-gray-warm-40: #929285;
  --uswds-gray-warm-50: #76766a;
  --uswds-gray-warm-60: #5d5d52;
  --uswds-gray-warm-70: #454540;
  --uswds-gray-warm-80: #2e2e2a;
  --uswds-gray-warm-90: #171716;
  --uswds-green-5: #eaf4dd;
  --uswds-green-10: #dfeacd;
  --uswds-green-20: #b8d293;
  --uswds-green-30: #9bb672;
  --uswds-green-40: #7d9b4e;
  --uswds-green-50: #607f35;
  --uswds-green-60: #4c6424;
  --uswds-green-70: #3c4a29;
  --uswds-green-80: #293021;
  --uswds-green-90: #161814;
  --uswds-green-vivid-5: #ddf9c7;
  --uswds-green-vivid-10: #c5ee93;
  --uswds-green-vivid-20: #98d035;
  --uswds-green-vivid-30: #7fb135;
  --uswds-green-vivid-40: #719f2a;
  --uswds-green-vivid-50: #538200;
  --uswds-green-vivid-60: #466c04;
  --uswds-green-vivid-70: #2f4a0b;
  --uswds-green-vivid-80: #243413;
  --uswds-green-cool-5: #ecf3ec;
  --uswds-green-cool-10: #dbebde;
  --uswds-green-cool-20: #b4d0b9;
  --uswds-green-cool-30: #86b98e;
  --uswds-green-cool-40: #5e9f69;
  --uswds-green-cool-50: #4d8055;
  --uswds-green-cool-60: #446443;
  --uswds-green-cool-70: #37493b;
  --uswds-green-cool-80: #28312a;
  --uswds-green-cool-90: #1a1f1a;
  --uswds-green-cool-vivid-5: #e3f5e1;
  --uswds-green-cool-vivid-10: #b7f5bd;
  --uswds-green-cool-vivid-20: #70e17b;
  --uswds-green-cool-vivid-30: #21c834;
  --uswds-green-cool-vivid-40: #00a91c;
  --uswds-green-cool-vivid-50: #008817;
  --uswds-green-cool-vivid-60: #216e1f;
  --uswds-green-cool-vivid-70: #154c21;
  --uswds-green-cool-vivid-80: #19311e;
  --uswds-green-warm-5: #f1f4d7;
  --uswds-green-warm-10: #e7eab7;
  --uswds-green-warm-20: #cbd17a;
  --uswds-green-warm-30: #a6b557;
  --uswds-green-warm-40: #8a984b;
  --uswds-green-warm-50: #6f7a41;
  --uswds-green-warm-60: #5a5f38;
  --uswds-green-warm-70: #45472f;
  --uswds-green-warm-80: #2d2f21;
  --uswds-green-warm-90: #171712;
  --uswds-green-warm-vivid-5: #f5fbc1;
  --uswds-green-warm-vivid-10: #e7f434;
  --uswds-green-warm-vivid-20: #c5d30a;
  --uswds-green-warm-vivid-30: #a3b72c;
  --uswds-green-warm-vivid-40: #7e9c1d;
  --uswds-green-warm-vivid-50: #6a7d00;
  --uswds-green-warm-vivid-60: #5a6613;
  --uswds-green-warm-vivid-70: #4b4e10;
  --uswds-green-warm-vivid-80: #38380b;
  --uswds-indigo-5: #efeff8;
  --uswds-indigo-10: #e5e4fa;
  --uswds-indigo-20: #c5c5f3;
  --uswds-indigo-30: #a5a8eb;
  --uswds-indigo-40: #8889db;
  --uswds-indigo-50: #676cc8;
  --uswds-indigo-60: #4d52af;
  --uswds-indigo-70: #3d4076;
  --uswds-indigo-80: #2b2c40;
  --uswds-indigo-90: #16171f;
  --uswds-indigo-vivid-5: #f0f0ff;
  --uswds-indigo-vivid-10: #e0e0ff;
  --uswds-indigo-vivid-20: #ccceff;
  --uswds-indigo-vivid-30: #a3a7fa;
  --uswds-indigo-vivid-40: #8289ff;
  --uswds-indigo-vivid-50: #656bd7;
  --uswds-indigo-vivid-60: #4a50c4;
  --uswds-indigo-vivid-70: #3333a3;
  --uswds-indigo-vivid-80: #212463;
  --uswds-indigo-cool-5: #eef0f9;
  --uswds-indigo-cool-10: #e1e6f9;
  --uswds-indigo-cool-20: #bbc8f5;
  --uswds-indigo-cool-30: #96abee;
  --uswds-indigo-cool-40: #6b8ee8;
  --uswds-indigo-cool-50: #496fd8;
  --uswds-indigo-cool-60: #3f57a6;
  --uswds-indigo-cool-70: #374274;
  --uswds-indigo-cool-80: #292d42;
  --uswds-indigo-cool-90: #151622;
  --uswds-indigo-cool-vivid-5: #edf0ff;
  --uswds-indigo-cool-vivid-10: #dee5ff;
  --uswds-indigo-cool-vivid-20: #b8c8ff;
  --uswds-indigo-cool-vivid-30: #94adff;
  --uswds-indigo-cool-vivid-40: #628ef4;
  --uswds-indigo-cool-vivid-50: #4866ff;
  --uswds-indigo-cool-vivid-60: #3e4ded;
  --uswds-indigo-cool-vivid-70: #222fbf;
  --uswds-indigo-cool-vivid-80: #1b2b85;
  --uswds-indigo-warm-5: #f1eff7;
  --uswds-indigo-warm-10: #e7e3fa;
  --uswds-indigo-warm-20: #cbc4f2;
  --uswds-indigo-warm-30: #afa5e8;
  --uswds-indigo-warm-40: #9287d8;
  --uswds-indigo-warm-50: #7665d1;
  --uswds-indigo-warm-60: #5e519e;
  --uswds-indigo-warm-70: #453c7b;
  --uswds-indigo-warm-80: #2e2c40;
  --uswds-indigo-warm-90: #18161d;
  --uswds-indigo-warm-vivid-5: #f5f2ff;
  --uswds-indigo-warm-vivid-10: #e4deff;
  --uswds-indigo-warm-vivid-20: #cfc4fd;
  --uswds-indigo-warm-vivid-30: #b69fff;
  --uswds-indigo-warm-vivid-40: #967efb;
  --uswds-indigo-warm-vivid-50: #745fe9;
  --uswds-indigo-warm-vivid-60: #5942d2;
  --uswds-indigo-warm-vivid-70: #3d2c9d;
  --uswds-indigo-warm-vivid-80: #261f5b;
}
