/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. 2023 */
/* SPDX-License-Identifier: Apache-2.0 */

.root {
  --foreground-color: rgb(230, 230, 230, 1);
  --padding-x: 30rem;
  --padding-y: 30rem;

  // position: absolute;
  // inset: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 15rem;

  width: 100%;
  height: 100%;

  padding: var(--padding-y) var(--padding-x);

  > [data-head] {
    // padding: var(--padding-y) var(--padding-x) 0;

    // border-bottom: solid 1rem var(--border-color);
    color: var(--foreground-color);
    font-size: 28rem;
    font-weight: var(--font-weight-5);
    // letter-spacing: -0.5rem;
    line-height: 1;
  }

  > [data-chainlit] {
    position: relative;
    width: 100%;

    > [data-iframe] {
      position: absolute;
      inset: 0;

      display: block;
      width: 100%;
      height: 100%;
      border: 0;

      border-radius: 10rem;
      overflow: hidden;
    }
  }

  > [data-close-button] {
    display: block;
    width: fit-content;

    padding: 6rem 12rem;
    background-color: #4995e1;
    border-radius: var(--radius-5);
    color: var(--foreground-color);
    font-size: 15rem;
    font-weight: var(--font-weight-5);
    letter-spacing: 0.1rem;
  }
}
